<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
  <script src="https://unpkg.com/lucide@latest"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="assets/styles.css" />
</head>

<body style="overflow-x: hidden;">
  <!-- Loader -->
  <div id="loader">
    <img id="loader-img" src="https://emoji.slack-edge.com/T02TGEZQ9/rz/d6476986df6cfc81.png" class="sm:w-24 sm:h-24 w-12 h-12 transition-transform duration-500" style="display: block; margin: auto; border: none; outline: none;" />
    <script>
      const loaderImg = document.getElementById('loader-img');
      let angle = 0;
      setInterval(() => {
        angle += 360;
        loaderImg.style.transform = `rotate(${angle}deg)`;
      }, 2000);
    </script>
  </div>

  <div id="sidebar" class="sidebar">
    <!-- Top Logo -->
    <div class="items-center">
      <img src="https://emoji.slack-edge.com/T02TGEZQ9/rz/d6476986df6cfc81.png" class="w-8 h-8" />
    </div>
    <div class="space-y-4">
      <!-- Icons -->
      <ul class="flex flex-col space-y-6 mt-4 text-gray-600">
        <li class="icon-button relative" onclick="location.reload()">
          <i data-lucide="refresh-ccw" class="w-5 h-5"></i>
        </li>
        <div class="tooltip-container">
          <li class="icon-button overflow-hidden" id="vote-button" data-current-state="vote">
            <div id="vote-icon">
              <i data-lucide="vote" class="w-5 h-5"></i>
            </div>
            <div id="check-icon">
              <i data-lucide="check" class="w-5 h-5"></i>
            </div>
          </li>
        </div>
      </ul>
    </div>

    <div class="space-y-6 flex flex-col items-center">
      <a href="/logout" class="icon-button">
        <i data-lucide="log-out" class="w-5 h-5"></i>
      </a>
      <img src="{{ profile_pic }}" class="w-8 h-8 rounded-full pficon" />
    </div>

    <div class="profile-card hidden">
      <div class="relative">
        <img src="{{ profile_pic }}" class="w-8 h-8 rounded-full" />
        <span class="status-indicator"></span>
      </div>
      <div class="flex-col items-start ml-2">
        <span class="ml-2 text-sm font-semibold">{{ name }}</span>
        <span class="ml-2 text-sm text-gray-500">{{ email }}</span>
      </div>
    </div>
  </div>

  <div class="ml-0 sm:ml-[60px]">
    <div id="macy-container" class="z-10 w-screen">
      {% for image in images %}
      <div class="macy-item">
        <input type="checkbox" title="Select image" id="{{ image[0] }}" {% if (image[3] == "voted") %}checked{% endif %} />
        <img for="{{ image[0] }}" class="hovernow" src="pics/{{ image[0] }}" alt="Image" data-caption="{{ image[1] }}"
          data-user="{{ image[2] }}" data-id="{{ image[0] }}" />
        <div class="selected-overlay pointer-events-none absolute inset-0 bg-gray-500 bg-opacity-40 rounded-sm"
          for="{{ image[0] }}"></div>
        <div class="absolute rounded-full bg-green-500 shadow-lg flex items-center justify-center tick"
          for="{{ image[0] }}">
          <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Interface / Check_All_Big">
              <path id="Vector"
                d="M7 12L11.9497 16.9497L22.5572 6.34326M2.0498 12.0503L6.99955 17M17.606 6.39355L12.3027 11.6969"
                stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </g>
          </svg>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
  <div class="overlay-fortooltip">
    <div class="tooltip-text">👈 Click here to vote!</div>
  </div>
  <div class="fixed top-8 left-1/2 transform -translate-x-1/2 z-50 pointer-events-none">
    <div id="notification-bar" class="flex items-center gap-3 bg-gray-800 text-gray-200 px-4 py-2 rounded-md shadow-md  opacity-0 pointer-events-none transition-all duration-300 ease-in-out">
      <div class="bg-blue-700 p-2 rounded-md">
        <i data-lucide="bell" class="w-4 h-4 text-white"></i>
      </div>
      <span class="text-sm" id="notification-message">Set yourself free.</span>
      <button class="ml-auto text-gray-400 hover:text-gray-200" id="close-notification">
        <i data-lucide="x" class="w-4 h-4"></i>
      </button>
    </div>
  </div>
  <script src="/assets/scripts.js"></script>
</body>

</html>"